<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock meta_description %}">
    <meta name="robots" content="{% block meta_robots %}{% endblock meta_robots %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link href="{{ static('css/app.css') }}" rel="stylesheet" type="text/css">

    <title>{% block title %}{% endblock title %}</title>

    {% block extra_styles %}{% endblock %}
    {% block head_js %}{% endblock %}

    <link rel="shortcut icon" href="{{ static('img/favicon.ico') }}" />
  </head>

  <body class="{% block body_class %}{% endblock body_class %}">
    {% block primary_content %}
      Hey :)
    {% endblock primary_content %}
    {% block end_js %}{% endblock %}
  </body>
</html>
